*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{

background-color: rgb(227, 183, 24);
text-align:center;
line-height:1.5
}

.hero{
    padding: 20px 10px;


.hero img{
border-radius: 50%;
margin-bottom:10px;


.section h2{
  font-size:22px;
}


font-size:37px;


accent{
color:rgb(213, 48, 163)
}

.grid{
    display: flex;
    gap: 15px;
justify-content: center;
flex-wrap: wrap;
.
grid div{
padding: 20px;
border-radius;40px;
background-color:rgb(42, 157, 183)
} @media (max-width: 768px)
body {background-color: 


